*{
    margin: 0;
    padding:0;
    font-family: 'Lobster',cursive ,sans-serif;
}
header{
    background-image: url(images/pottery.webp);
    height:100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    color: whitesmoke;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
ul li a{
    text-decoration:none;
    padding: 5px 20px;
    border:1px solid #fff;
    margin: 15px;
    transition:0.5s,ease;
    color:white;
}
ul li a:hover{
    background-color: rgb(17, 14, 14);
}
.title{
    position: absolute;
    left:15px;
    top: 5px;
    color: whitesmoke ;
    font-size:20px;
}
.title:hover{
    opacity: 0.5;
    color:cornsilk;
}
.explore{
    position:absolute;
    top:80%;
    left:80%;
    padding: 20px;
    margin: 0.5em;
    border: 1px solid;
    color:whitesmoke;
    font-size:18px;
}
.explore:hover{
    background-color: rgb(17, 14, 14);
}

